<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add form</title>
</head>
<body align="center">
<h1>Add Form</h1>
<form  action="/admin/employees/add" method="post">
    <h5>Fullname</h5>
    <input name="fullName"> <br/>
    <h5>Address</h5>
    <input name="address"> <br/>
    <h5>Email</h5>
    <input name="email"> <br/>
    <h5>DoB</h5>
    <input name="dob"> <br/>
    <h5>phone</h5>
    <input name="phone"> <br/>
    <input style="margin-top: 30px" type="submit" value="Add Employee">
</form>
</body>
</html>